.container {
  .product_img {
    img {
      max-width: 100%;
    }
  }
  .product_info {
    .rating {
      color: $rate_color;
    }
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
      button {
        border: none;
        margin-right: 20px;
      }
    }
  }
}
