* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #9c9a9a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b6a6a;
  border-radius: 5px;
}
.container {
  max-width: 90%;
}
header {
  margin-bottom: 5px;
}
header .navbar {
  background-color: #fed100 !important;
}
.collapse {
  justify-content: space-between;
}
.header_btn {
  border: none;
  background: none;
  margin-right: 20px;
}
#CategoryFilter {
  margin-bottom: 5px;
}
.nav_left h3 {
  margin: 15px 0;
}
.nav {
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
}
.nav button {
  border: none;
  background-color: white;
  width: 100%;
}
.nav_item {
  padding: 10px;
  list-style: none;
  border-radius: 0;
  border-bottom: 1px solid;
}
.nav_item:last-child {
  border-bottom: none;
}
.nav_left form {
  border: 1px solid;
  padding: 15px;
}
.nav_left input {
  margin-bottom: 15px;
  width: 90%;
}
.nav_left button {
  padding: 5px;
  border-radius: 5px;
}
.scrollList {
  height: 167px;
  overflow-y: scroll;
}
.search {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 5px 10px;
}
.search input {
  width: 60%;
  display: inline-block;
}
.search button {
  background-color: green;
  color: #fff;
  width: 70px;
  border-radius: 5px;
}
.main {
  border: 1px solid;
  padding: 10px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tableContent {
  overflow-x: auto;
}
.pagination {
  margin: 0 !important;
}
.nav_pagi {
  margin-top: 10px;
}
table {
  text-align: center;
  width: 100%;
}
table tr {
  border-bottom: 1px solid;
}
th,
td {
  padding: 5px;
}
.bnt_edit {
  padding: 0 10px;
  background: orange;
  color: #fff;
  border-radius: 5px;
}
.bnt_del {
  padding: 0 10px;
  background: red;
  color: #fff;
  border-radius: 5px;
}
